.footer {
    background: linear-gradient(180deg, rgb(102, 102, 102) 0%, rgba(250, 241, 241, 0.327) 94%, rgb(100, 94, 94) 1px);
    text-align: center;
    width: 100%;
   
    bottom: 0;
    padding: 30px 25px;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
