.footer {
  padding: 1em;
  
  left: 0;
  bottom: 0;
  width: 100%;
  color: #f6ac2c;
  background-color: #898888;
  justify-content: center;
  text-align: center;
  margin-top: auto;
  margin-bottom: 0%;
  position:fixed;
  left:0px;
  bottom:0px;
  height:85px;
  width:100%;
  
}
