.formFondo{
    background-image: url(../../assets/images/book-gb456ffa20_1920.jpg);
    width: 100%;
     height: 110vh;
    background-repeat: no-repeat;
   
   
    
    background-size: cover;
}

.formik{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.form{
    background-color: rgba(20, 25, 32, 0.699);
    margin-top: 1rem;
    border-radius: 20px;
     padding: 40px 200px;
     font-family: 'Roboto', sans-serif; 
}

.input{
    outline: none;
    background: white;
    border: none;
    padding: 3px 60px;
    color: rgb(0, 0, 0);
}
.textarea{
    outline: none;
    background: white;
    padding: 3px 70px;
    color: rgb(0, 0, 0);
}
.label{
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
    font-family: monospace;
    font-family: 'Roboto', sans-serif;
}

.range{
    display: flex;
    align-items: center;
    justify-content: center;
}

select{
    background: black;
}