.image {
    position: fixed;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: 100%;
    align-content: center;
    border-radius: 10px;
}

.title {
    margin-top: 50px;
    margin-left: 45%;
    color: rgb(245, 245, 245);
    font-size: 100px;
    text-shadow: #070606 5px 5px 5px;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.formGral {
    margin-top: 50px;
    margin-left: 40%;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: fit-content;
    margin-top: 20px;
    background-color: rgba(32, 8, 65, 0.8);
    border-radius: 15px;
    padding: 5px;
    box-shadow: 8px 8px 15px #888686,
        -6px -6px 12px #f7f5f5;
}

.label {
    font-size: medium;
    font-weight: bold;
    justify-content: center;
    margin-left: 70px;
    color: aliceblue;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.input {
    margin-left: 30px;
    padding: 5px 70px;
    border-radius: 15px;
    font-size: medium;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
}

.link {
    padding: 20px;
    margin-left: 42%;
    color: aliceblue;
    font-size: 30px;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: rgb(21, 21, 21) 3px 3px 3px;
}

.login {
    --button_radius: 0.35em;
    --button_color: #ada9a9;
    --button_outline_color: #e7e4e4;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    margin-left: 15%;
}

.login_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

.login:hover .button_top {
    transform: translateY(-0.33em);
}

.login:active .button_top {
    transform: translateY(0);
}

@media (max-width: 500px) {
    .formGral{
        width: 100%;
        margin-left: 0;
    }
}

@media only screen and (min-width:501) and (max-width: 850px) {}