.contenedorGral {
  margin:auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
}

.contenedorBooks {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  align-items: center;
  /* max-width: 120rem; */
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: row;
}

.logout {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: black;
}

@media (max-width: 500px) {
  .divFiltros {
    height: auto;
    width: auto;
  }

  .nav {
    display: flex;
  }
}

@media only screen and (min-width: 501) and (max-width: 850px) {
}
.contenedorChat{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 60px;
  padding-bottom: 150px;
}
.visible{
  position:fixed;
  z-index:1;
  display:flex;
  flex-direction: column;
  top: 140px; right:0%;
  align-self: flex-start;
  background: linear-gradient(260deg, rgba(11,82,91,1) 0%, rgba(27,58,75,1) 30%, rgba(77,25,77,1) 100%);
  border: solid var(--color4) 6px;
  border-radius: 30px;
  padding: 30px;
  color: black; 
}