.prueba{
    color: rgb(35, 34, 34);
    text-align:center;
    font-size: 30px;
    margin-top: 10px;
    font-weight: 200;
    
    
    
}

.prueba:hover{
    text-indent: 0.625rem;

}
.containerPadre{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.containerGral{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10%;
    
    
}
.container{
    margin: 10px;
    background-color: #fff; 
    border-radius: 10px;
    box-shadow:  0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    
    width: 560px;
    height: 480px;

}

.containerMini{
    margin-top: 25%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}