.image {
    position: fixed;
    object-fit: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    align-content: center;
}

.about {
    display: flex;
    padding: 20px;
    margin: 0 auto;
    justify-content: center;
}
.tittle {
    z-index: 0;
    color: #060606;
    font-size: 3rem;
    font-weight:bold;
}

.text {
    z-index: 0;
    color: rgb(8, 8, 8);
    font-weight: bold;
    padding: 20px;
    overflow: hidden;
    margin: 20px auto;
}