
.searchBar {
    display: flex;
    margin-bottom: 1%;
    padding: 1%;
    flex-wrap: wrap;
    font-size: large;
    font-weight: bold;
    color: #f0f8ff;
    justify-content: center;
  }

.btnS {
    justify-content: space-between;
    border-radius: 5px;
    margin-right:5px;
    background-color: #f0f8ff;
}

.btnS:hover:hover {
    background-color: #cecccc;
    color: rgb(247, 243, 243);
    color: rgb(47, 47, 47);
}

.btnR {
    justify-content: space-between;
    margin-left:  20px;
    border-radius: 5px;
    margin-right:5px;
    padding-top: 3px;
    background-color: #f0f8ff;
}

.btnR:hover {
    background-color: #cecccc;
    color: rgb(247, 243, 243);
    color: rgb(47, 47, 47);
}

.input{
    background-color: #f0f8ff;
    border-radius: 5px;
}
.divFilter{
    margin-left: 25px;
    display: flex;
    background-color: #f7ede2;
    justify-content: space-between;
}