$fuente_principal: "Roboto", sans-serif;

$fondo: #c1c1c1;
$letras: #F6AA1C;
$fondoOscuro: #2c3e50;
$colorNav: #220901;
$grisclaro: #c2c2c2;
$fondocard: #c9c9c9;
$blanco: #f0f8ff;

//tamaños media queris
$telefono: 320px;
$tablet: 570px;
$desktop: 768px;
$desktopxl: 1200px;

