$fuente_principal: "Roboto", sans-serif;

$fondo: #c0c0c0;
$fondoOscuro: #333332;
$colorNav: rgba(59, 205, 241, 0.808);
$grisclaro: #2c3e50;

//tamaños media queris
$telefono: 320px;
$tablet: 570px;
$desktop: 768px;
$desktopxl: 1200px;

