.button{
    color:rgb(226, 224, 224);
    background-color: rgb(132, 131, 131);
    align-items: right;
}
.chatbotContainer{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    
} 