.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 70px;
    color: #F6AA1C;
}

.login{
    width: auto;
    height: auto;
    margin: auto;
}

.register{
    width: auto;
    height: auto;
    margin: auto;
}

