.searchBar {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 70px;
    margin-bottom: 1%;
    font-size: large;
    font-weight: bold;
    align-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FCFFE7;
    background: #DEA057;
    
}

.btnS {
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
}
.btnS:hover:hover {
    background-color: #cecccc;
    color: rgb(247, 243, 243);
    color: rgb(47, 47, 47);
}

.btnR {
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;

}

.btnR:hover {
    background-color: #cecccc;
    color: rgb(247, 243, 243);
    color: rgb(47, 47, 47);
}