.contenedorBooks {
    display: inline;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    align-items: center;
    max-width: 120rem;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: row;
}
.logout{
    font-family: 'Roboto', sans-serif;
    color: black;
}

@media (max-width: 500px) {
    .divFiltros {
        height: auto;
        width: auto;
        }
.nav{
    display: flex;
}

}

@media only screen and (min-width:501) and (max-width: 850px) {}