@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

.image{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding-left: 10px;
}
.container{
    width: 95%;
    max-width: 220rem;
    margin: 2rem auto;
    margin-top: 60px;
    padding: 50px;
    padding-left: 20px;
    padding-top: 20px;
}

.usersTable{
    background-color: white;
    color: black;
    font-size: 17px;
    width: 60%;
    padding:2rem 25px;
    padding-left: 30px;
    margin: 20px;
    
}

.flex{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.containerInfo{
    padding: 20px;
    margin: 20px;
    border-bottom: 1px solid black;
    text-align: center;
}

.name{
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    padding: 2rem;
    text-align: center;
}

.id{
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    padding: 2rem;
    text-align: center;
}
.no{
    margin-top: 10px;
    text-align: center;
}
.titulos{
    margin-top: 10px;
    text-align: center;
}