@use "../base/variables" as v;
@use "../base/mixins" as m;

.contenedorGral {
	background-color: v.$fondo;
	background-size: cover;
	top: 0;
	left: 0;
	z-index: -1;
	align-content: center;
}
  
.contenedorBooks {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	align-items: center;
	margin: 0 auto;
	flex-wrap: wrap;
	flex-direction: row;
}

@include m.telefono{
    .divFiltros {
        height: auto;
        width: auto;
    }
  }
