@use "../base/variables" as v;
@use "../base/mixins" as m;

.contenedorGral {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	gap: 4rem;
	align-items: center;
	margin: 0 auto;
}
  
.contenedorBooks {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	align-items: center;
	margin: 0 auto;
	flex-wrap: wrap;
	flex-direction: row;
}

@include m.telefono{
    .divFiltros {
        height: auto;
        width: auto;
    }
  }
