@use "../base/variables" as v;
@use "../base/mixins" as m;

  
  .container-book {
    display: flex;
    padding: 20px;
    margin: 0 auto;
  }
  .card-book {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-height: 370px;
    max-width: 250px;
    margin: 0 auto;
    position: relative;
  }
  .card-book:hover{
    box-shadow: 9px 13px 30px -9px rgba(0,0,0,0.56);
    -webkit-box-shadow: 9px 13px 30px -9px rgba(0,0,0,0.56);
    -moz-box-shadow: 9px 13px 30px -9px rgba(0,0,0,0.56);
    transform: translateY(-3%);
    transition-duration: 300ms;
  }
  .cardheader-book img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .cardbody-book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 90px;
    min-height: 250px;
    
  }
  
  .tagtagteal-book {
   
    background-color: #BC3908;
    border-radius: 50px;
    font-size: 1.1rem;
    margin: 30px ;
    color: #f0f8ff;
    padding:1rem 1rem;
    text-transform: uppercase;
    width: 200px;
    text-align: center;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
  }
  
  
  .cardbody-book .parrafo-book {
    font-size: 13px;
    margin: 0 0 40px;
  }
  .user-book {
    display: flex;
    margin-top: auto;
    position: absolute;
    left: 3px;
    bottom: 105px;
  }
  
  .user-book img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    
  }
  .userinfo-book h5 {
    margin: 0;
    color: #1f2330;
  }
  .userinfo-book small {
    color: #1f2330;
  }
  .priceee{
    color:#1f2330;
    position: absolute;
    bottom: 103px;
    right: 13px;
  }
  .parrafo-book{
    width: 220px;
    height: 70px;
    overflow: scroll;
    border-bottom: 1px solid #BC3908;
  }

  .parrafo-book::-webkit-scrollbar{
    background-color: transparent;
  }

  .parrafo-book::-webkit-scrollbar-corner{
    background-color:transparent;
    
}