.imag {
  height: 350px;
  background-position: bottom;
  background-size: cover;
  background-color: #212529;
}

ul {
  display: none;
}

.img {
  margin-top: 20px;
  width: 1200px;
  margin-left: 250px;

}