@use '../base/variables' as v;
@use '../base/mixins' as m;

.link-chatbot{
    position:fixed;
    cursor: pointer;
    align-items: center;
    color: black;
    font-size: 50px;
    margin-top: 25px;
    border: none;
    background: none;
    right: 6rem;
    bottom: 10%;
   
}

.robot{
    font-size: 60px;
}


.chatbotContainer{
    position:fixed;
    right: 12rem;
    bottom: 10%;

}
.react-chatbot-kit-chat-bot-message{
    font-size: 17px;
}
.react-chatbot-kit-chat-input{
    font-size: 15px;
    outline: none;
}
.react-chatbot-kit-user-chat-message{
    font-size: 15px;
}

.button-chatbot{
    background: rgba(95, 95, 95, 0.404);
    position: relative;
    top: 2.5rem;
    right: -25.8rem;
    z-index: 999;
    border: none;
    cursor: pointer;
    padding: 3px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
}
.flashcardcontainer {
    padding: 15px;
    border-radius: 3px;
    background-color: #f1e6e6;
  }
  
 .flashcardbutton {
  margin: 5px;
  border-radius: 5px;
  padding: 7px;
  border-color: rgb(181, 181, 181);
  background: transparent;
  align-items: center;
  text-align: center;
  }

  .optionContainer {
    display:grid;
    flex-wrap: wrap;
  }
  
 .optionButton {
    margin: 5px;
    border-radius: 5px;
    padding: 7px;
    border-color: blue;
    background: transparent;
    align-items: center;
    text-align: center;
  }

