@use '../base/variables' as v;
@use '../base/mixins' as m;

$cadaMensaje-msg-arrow-size: 15px;

.bienvenido {
  margin: 3rem auto;
  padding: 2rem;
  width: 90%;
  
 background-color: v.$fondocard;
 border-radius: 0.5rem;
 box-shadow: 20px 18px 5px 0px v.$fondobotones;
 color: v.$rojomenostinto;
 
 .tituloBienvenido{
  text-align: center;
 }
}

.reglas {
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-align:left ;
}

.contentChat {
  width: 100%;
  margin: 0 auto;
  height: fit-content;
}

@include m.desktop {
  .contentChat {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}

.contChat {
  color: v.$patito;
  background-color: rgba(110, 144, 118, 0.184);
  width: 90%;
  margin: 1rem auto;
  @include m.borderRadius;
  border: solid 1px v.$rojomenostinto;
  padding: 1rem 0;

}

@include m.desktop {
  .contChat {
    margin: 1rem auto;
    width: 90%;
  }
}
.chat-window{
  margin-bottom: 0.2rem;
}
.ulChat {
  list-style: none;
  overflow: scroll;
  height: 270px;
  font-size: 1.8rem;
  }

.ulChat::-webkit-scrollbar {
  background-color: transparent;
}

.ulChat::-webkit-scrollbar-corner {
  background-color: transparent;
}

.ulChat::-webkit-scrollbar-thumb {
  background-color: rgba($color: v.$fondobotones, $alpha: 1.0);
  width: 15px;
  border-radius: 15px;
}

.cadaMensaje {
  position: relative;
  clear: both;
  display: flex;
  align-items: center;
  color: v.$blanco;
  margin: 0.5rem 0;
  padding: 1rem;

  .msj {

    margin: 0.5rem auto;
    width: 100%;
    text-align: left;
    background-color: #c25848c5;
    border-radius: 0.5rem;
    padding: 1.5rem;

  }

}

.inicialMsg {
  margin-top: 1rem;
  padding: 2rem;
  text-align: center;
  color: v.$colorNav;
}



.span {
  color: v.$colorNav;
  font-weight: 700;
  padding: 0.5rem;
  border-radius: 30%;

}

.otro {
  color: v.$black;
  padding: 0.5rem;
  border-radius: 30%;

}

.buChat {
  border-radius: 10%;
  padding: 1rem;
  color: v.$colorNav;
  font-weight: bold;
}

.inputChat {
  border-radius: 0.5rem;
  padding: 1rem;
  width: 70%;
  background-color: v.$fondobotones;
  font-size: 20px;
  color: v.$black;
  margin-left: 0.2rem;
 
}

.chatform {
  justify-content: center;
  display: flex;
  
}