@use "../base/variables" as v;
@use "../base/mixins" as m;

.footer {
    background-color: #9d1d36;
    text-align: center;
    position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  }
.github{
    width: 10%;
}

.leyenda {
    text-align: center;
    color: v.$blanco;
    justify-content: center;
}