@use "../base/variables" as v;
@use "../base/mixins" as m;

.footer {
    padding: 0.2rem;
    width: 100%;
    background-color: #9d1d36;
    text-align: center;
    width:100%;
  }
.github{
    width: 10%;
}

.leyenda {
    text-align: center;
    color: v.$blanco;
    justify-content: center;
}