@use "../base/variables" as v;
@use "../base/mixins" as m;

.contentNav {
    display: block;
    background: v.$colorNav;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px rgba(11,12,41,1);
    z-index: 99999999;

    @include m.desktop {
      @include m.grid(4, 1fr);
    }

  .perfil {
    grid-column: 4/5;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
    margin: 0 auto;
    @include m.desktop {
      justify-content: flex-end;
      gap: 2rem;
    }
    p{
      color:  v.$fondo;
    }
    span {
        color: v.$naranja;
        font-weight: 700;
        font-size: 3rem;
      }
    .image-click{
      display: inline-block;
      width: 60px;
      height: 60px;
      background-size: cover;
      @supports(object-fit: cover){
        img{
         border-radius: 50%;
         height: 100%;
         object-fit: cover;
         object-position: center center;
       }
   }}
   .nameUser {
    padding: 0.5rem;
    font-size: 2rem;
    color: v.$fondo;
}}
}

.link {
    align-items: center;
    justify-content: space-evenly;
    color: v.$fondo;
    font-size: 20px;
    font-weight: bold;
}
.link:hover{
    transform: scale(1.10);
}

.logo {
    width: 90%;
    margin: 0 auto;
    @include m.desktop {
      width: 220px;
      height: 55px;
    }
  }
  
body::-webkit-scrollbar {
    width: 2px;
}

body::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.712);
    border-radius: 18px;
    color: black;
    height: 2px;
}

.flex-sea{
  display: flex;
  justify-content: center;
}

.flex{
  display: flex;
  justify-content: center;
}

.filter{
  border: none;
  outline: none;
}
.select{
  border: none;
  outline: none;
}
.ccc{
  padding: 2rem;
  margin: 4px;
}

.formbusqueda{
 padding: 4px;
}

.botonRecarga{
  position: absolute;
  top: 1px;
}


