.containerGral {

    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    background-attachment: fixed;
    overflow: auto;
    align-items: center;
}

.responseOrderDetail {
    color: red;
    margin-left: 20%;
}

.textoOrderDetail {
    font-size: 50px;
    color: black;
    text-align: center;
    margin-top: 4%;
}

.textoId {
    font-size: 20px;
    color: rgb(103, 100, 100);
    text-align: center;
    margin-top: 2%;
}

.imageOrderDetail {
    width: 15%;
    vertical-align: middle;
    margin-bottom: 20px;
    padding: 0;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.767);
    border-radius: 20px;
    margin-left: 43%;
    margin-top: 5%;
}

.contenedorSecundario {
    box-sizing: border-box;
    border-radius: 15px;
    background-color: white;
    margin-top: 1.5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1.5%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.itemsOrderDetail {
    font-size: 1.4rem;
    color: #848383;
}

.buttonOrderDetail {
    padding-top: 1px;
    background-color: #9d1d36;
    color: #e8ddbd;
    font-size: 1.5 rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 1rem;
    border-radius: 5px;
    margin-left: 20%;
    padding-left: 10px;
    margin-bottom: 4%;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.buttonBack:hover {
    cursor: pointer;
    background-color: #b6b1b2b9;
    transform: translateY(-4px);
}

.buttonPerfil {
    margin-top: 10px;
    margin-left: 7px;
    padding: 4px;
    border-radius: 10px;
    background: #0D0F10;
    font-size: 17px;
    border-color: #0D0F10;
    color: #F6AA1C;

}

.buttonPerfil:hover {
    text-decoration: underline;

}

.btnHome {
    background-color: #9d1d36;
    color: #e8ddbd;
    margin: 20px 2.5px 0px 0px;
    padding: 7px 15px;
    margin-left: 1%;
}