@use '../base/variables' as v;
@use '../base/mixins' as m;

.nav2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 6rem;
  padding-bottom: 5rem;
}
.num {
  width: 60px;
  height: 40px;
  margin: 2px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  padding: 4px 10px;
  background: #6f7769;
}

.num:hover {
  transform: scale(1.05);
  transition-duration: 300ms;
  outline-offset: 80px;
}
.num1 {
  width: 60px;
  height: 40px;
  margin: 2px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  padding: 4px 10px;
  background: #a9b79e;
}

.num1:hover {
  transition-duration: 300ms;
  transform: scale(1.05);
  outline-offset: 80px;
}
.pag {
  width: 100vw;
  justify-content: center;
  border-radius: 30px;
  font-size: 15px;
  font-weight: bold;
  margin: 0px;
  margin-top: 0px;
}

.pag ul {
  padding-left: 0px;
  display: inline-flex;
  padding: 0.2%;
}
.pag li {
  margin-bottom: 2%;
  display: inline-flex;
  justify-content: space-between;
  height: 1em;
  flex-wrap: wrap;
  flex-direction: row;
}

