@use '../base/variables' as v;
@use '../base/mixins' as m;

.nav2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 6rem;
  padding-bottom: 5rem;
}
.num {
  width: 75px;
  height: 45px;
  margin: 3px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  padding: 4px 13px;
  background: #BC3908;
}

.num:hover {
  outline-offset: 80px;
  text-shadow: 1px 1px 6px #fff;
}
.num1 {
  width: 75px;
  height: 45px;
  margin: 3px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  padding: 4px 13px;
  background: #F6AA1C;
}

.num1:hover {
  outline-offset: 80px;
  text-shadow: 1px 1px 6px #fff;
}
.pag {
  width: 100vw;
  justify-content: center;
  border-radius: 30px;
  font-size: 15px;
  font-weight: bold;
  margin: 0px;
  margin-top: 0px;
}

.pag ul {
  padding-left: 0px;
  display: inline-flex;
  padding: 0.2%;
}
.pag li {
  margin-bottom: 2%;
  display: inline-flex;
  justify-content: space-between;
  height: 1em;
  flex-wrap: wrap;
  flex-direction: row;
}

