@use "../base/variables" as v;
@use '../base/mixins' as m;


@include m.telefono{
    .customStyles{
        position: absolute;
          top: 42%;
          left: 60%;
          right: auto;
          bottom: auto;
          margin-right: -50%;
          transform: translate(-50%, -50%);
          padding: 0;
          width: 250px;
      };
}

@include m.desktop{
    .customStyles{
          top: 30%;
          left: 85%;
          width: 250px;
      };
}
.boton {
    cursor: pointer;
  }

.profileModal{
    @include m.borderRadius;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    background-color: #621708;
    padding: 1rem 0;

}

.divModalPerfil{ 
    border: none;
    height: 50px;
    width: 30%;
    margin: 0.1rem;
    @include m.borderRadius;
    padding: 1rem;
    a{
        width: 100%;
        @include m.grid(3,1fr);
        align-content: center;
    }
    h3{
        color: #f0f8ff;
        font-size: 25px;
        grid-column: 2/4;
        margin: 0;
    }
    &:hover{
        transition-duration: 500ms;
        width: 80%;
        background-color: #941B0C;
    }
}
.icon{
    height: 30px;
    width: 30px;
    grid-column: 1/2;
    display: inline-block
}