@use "../base/variables" as v;
@use '../base/mixins' as m;


@include m.telefono{
    .customStyles{
        position: absolute;
          top: 42%;
          left: 60%;
          right: auto;
          bottom: auto;
          margin-right: -50%;
          transform: translate(-50%, -50%);
          padding: 0;
          width: 250px;
      };
}

@include m.desktop{
    .customStyles{
          top: 30%;
          left: 90%;
          width: 200px;
      };
}
.boton {
    cursor: pointer;
  }

.profileModal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    background-color: v.$fondo;
    padding: 1rem 0;
}

.divModalPerfil{ 
    border: none;
    height: 40px;
    width: 30%;
    margin: 0.1rem;
    @include m.borderRadius;
    padding: 1rem;
    a{
        width: 100%;
        @include m.grid(3,1fr);
        align-content: center;
    }
    h3{
        font-size: 23px;
        grid-column: 2/3;
        margin: 0;
    }
    &:hover{
        transition-duration: 500ms;
        width: 70%;
        background-color: #c5c5c5;
    }
}
.icon{
    height: 30px;
    width: 30px;
    grid-column: 1/2;
    display: inline-block
}