.imageR {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    margin: 5px;
  }

.containerQuestion{
    width: 95%;
    max-width: 120rem;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-self: center;
    height: fit-content;  
}

.usersTable{
    width: 1200px;
    max-width: 120rem;
    background-color: white;
    color: #000000;
    font-size: 17px;
    border-radius: 10px;
    
}

.btnBook {
    background-color: #9d1d36;
    color: #e8ddbd;
    margin: 20px 2.5px 0px 0px;
    padding: 7px 15px;
    margin-left: 1%;
  }

.flexQuestion{
    display: flex;
    justify-content: center;
    border: white;
    margin-left: 10%;
    margin-right: 10%;
   
}

.containerInfo{
    border-bottom: 1px solid black;
    margin-bottom: 25px;
    height: fit-content;
    font-size: 17px;
    text-align: center;
}
.h3Question{
    text-align: center;
}
.nameQuestion{
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    padding: 2rem;
   text-align: center;
}

.id{
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    padding: 2rem;
    text-align: center;
}
.tituloQuestion{
    text-align: center;
    background-color: #9d1d36;
    color: #e8ddbd;
    width: 600px;
    margin: 0px auto;
}

.inputQuestion{
    max-width: 250px;
    background-color: #E5E7EB;
    border-color: #E5E7EB;
    border-radius: 8px;
    margin: 5px;
    padding: 10px;
    text-align: center;
    color: black;
    font-size: 15px;
}

.btnQuestion{
    float: right;
    background-color: #E5E7EB;
    border-color: #E5E7EB;
    color: black;
    border-radius: 8px;
    margin: 5px;
    margin-left: 2px;
    padding: 10px;
}

.containerAnswer{
    display: flex;
    flex-direction: row;
    text-align: center;

}

.no{
    padding: 60px;
    text-align: center;
    
}

.moderatorQuestion{
    font-size: 17px;
}
.containerTodo{
    text-align: center;
}
