@use '../base/variables' as v;
@use '../base/mixins' as m;

.searchBar {
    display: flex;
    flex-wrap: wrap;
    font-size: large;
    font-weight: bold;
    background: v.$colorNav;
    justify-content: center;
    padding: 1rem
  }
  .select{
    display: flex;
    background-color: #f7ede2;
}
.inputSearch {
    position: relative;
}

.filter{
    display: flex;
    background-color: #f7ede2;
    justify-content: space-between;
}

.btnS {
    background-color: #f7ede2;
}

.btnS:hover:hover {
    transform: scale(1.10);
}

.btnR {
    justify-content: space-between;
    margin-left:  15px;
    border-radius: 5px;
    margin-right:5px;
    padding-top: 3px;
    background-color: #f7ede2;
}

.btnR:hover {
    color: rgb(247, 243, 243);
    color: rgb(47, 47, 47);
}
.divFilter{
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}

