.about {
    display: flex;
    padding: 20px;
    margin: 0 auto;
    justify-content: center;
}
.tittle {
    color: #060606;
    font-size: 3rem;
    font-weight:bold;
}

.text {
    color: rgb(8, 8, 8);
    padding: 20px;
    overflow: hidden;
    margin: 20px auto;
}