.nav2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 60px;
  padding-bottom: 150px;
}
.num {
  width: 75px;
  height: 45px;
  margin: 3px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  padding: 4px 13px;
  background: #BC3908;
}

.num:hover {
  outline-offset: 80px;
  text-shadow: 1px 1px 6px #fff;
}
.num1 {
  width: 75px;
  height: 45px;
  margin: 3px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  padding: 4px 13px;
  background: #F6AA1C;
}

.num1:hover {
  outline-offset: 80px;
  text-shadow: 1px 1px 6px #fff;
}
.pag {
  width: 100vw;
  justify-content: center;
  border-radius: 30px;
  font-size: 15px;
  font-weight: bold;
  margin: 0px;
  margin-top: 0px;
}

.pag ul {
  padding-left: 0px;
  display: inline-flex;
  padding: 0.2%;
}
.pag li {
  margin-bottom: 2%;
  display: inline-flex;
  justify-content: space-between;
  height: 1em;
  flex-wrap: wrap;
  flex-direction: row;
}

.btn {
  /* justify-content: space-between;  */
  cursor: pointer;
  width: 45px;
  height: 25px;
  background-image: linear-gradient(to top, #b2b4b5 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.599);
  transition: all 0.2s ease;
  color: #070000;
  margin-right: 1px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.btn:hover {
  transform: scale(1.1);
}
