.imageR {
    width: 50px;
    border-radius: 50%;
    height: 50px;
  }

.container{
    width: 95%;
    max-width: 120rem;
    margin: 2rem auto;
}

.usersTable{
    background-color: rgba(0, 0, 0, 0.171);
    color: #381c1c;
    font-size: 17px;
    width: 60%;
    padding:2rem 25px;
    
}

.flex{
    display: flex;
    justify-content: center;
}

.containerInfo{
    padding: 20px;
    margin: 20px;
    border-bottom: 1px solid black;
}

.name{
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    padding: 2rem;
    
}

.id{
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    padding: 2rem;
}
