.containerTodo{
    background-color:  #e8ddbd;
}
h3{
    color: #000000
}
.imageR {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    margin-left: 10px;
  }

.container{
    width: 95%;
    max-width: 120rem;
    margin: 2rem auto;
    background-color: #6f7769;
    display: flex;
    justify-content: center;
    align-self: center;
    height: fit-content;
    
}

.usersTable{
    background-color: white;
    color: #000000;
    font-size: 17px;
    width: 60%;
    /* padding:2rem 25px; */
    padding-right: 100px;
    padding-left: 100px;
    width: 100vh;
    
    
}


.flex{
    display: flex;
    justify-content: center;
    border: white;
    margin-left: 10%;
    margin-right: 10%;
   
}

.containerInfo{
    padding: 20px;
    margin: 20px;
    border-bottom: 1px solid black;
    margin-bottom: 25px;
    height: fit-content;
    font-size: 17px;
}

.name{
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    padding: 2rem;
   text-align: center;
}

.id{
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    padding: 2rem;
}
.titulo{
    text-align: center;
    margin-top: 5%;
}

.input{
    max-width: 250px;
    background-color: #6f7769;
    border-radius: 8px;
    margin: 5px;
    padding: 10px;
}

.btn{
    float: right;
    background-color: #6f7769;
    color: black;
    border-radius: 8px;
    margin: 5px;
    margin-left: 2px;
    padding: 10px;
}

.containerAnswer{
    display: flex;
    flex-direction: row;
    

}

.no{
    padding: 60px;
    
}

.moderator{
    font-size: 17px;
}