input[type=checkbox] {
    display: inline-block;
    }

.titleForm{
    margin-top: 1rem;
    padding: 2rem;
    text-align: center;

}
.select {
    background: rgba(183, 203, 187, 0.184);
}

.formFondo {
    display: flex;
    flex-wrap: wrap;
}

.fotoF1 {
    padding: 20px;
    margin-right: 20px;

}

.btnF {
    background-color: #a9b79e;
    padding: 5px;
    border-radius: 5px;
    margin-top: 20px;

}

.confirmP {
    background-color: #a9b79e;
    padding: 5px;
    border-radius: 5px;

}

.uploadButton {
    background-color: #a9b79e;
    padding: 5px;
    border-radius: 5px;

}
.adicional{
    background-color: #a9b79e;
    border-radius: 5px;
    padding: 1rem;
    margin-left: 60%;
    font-size: 20px;

}
.inputAdicional{
    padding: 1rem;
    width: 100%;
    border-radius: 5px;
    border: none;
    justify-content: center;
    
}
.tapas {
    margin: 10px auto;
   }

.ilustrado {
    margin-top: 20px;

}

.formikContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    
}

.formContents {
    background-color: rgba(110, 144, 118, 0.184);
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    height: fit-content;
    width: 45%;
}

.formContents2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    padding: 5%;
}

.formContents3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(110, 144, 118, 0.184);
    margin: auto;
    padding: 2%;
    border-radius: 20px;
    width: 45%;
    
}

.requeridos {
    margin: 5%;
    justify-content: center; 
}

.opcionales { 
    margin: 5%;
    align-items: center;
}

.input {
    width: 100%;
    background: white;
    padding: 1rem;
    color: rgb(0, 0, 0);
    border-radius: 6px;
    width: 100%;
}

.imgInput {
    background: white;
    border: none;
    padding: 1rem;
    color: rgb(0, 0, 0);
    border-radius: 6px;
    width: 100%;
}

.selector {
    background: white;
    border: none;
    padding: 1renm;
    color: rgb(0, 0, 0);
    border-radius: 6px;
    width: 100%;
}

.textarea {
    outline: none;
    background: white;
    padding: 3px 60px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    width: 100%;
}

.label {
    display: flex;
    justify-content: left;
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 100%;
}

.titleSelect {
    display: flex;
    justify-content: left;
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.range {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}


.back {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.back:hover {
    color: rgb(105, 138, 105)
}

.sendMsg {
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
    z-index: 999;
    cursor: pointer;
    background-color: #a9b79e;
    padding: 5px;
    width: 15%;
    margin: auto;
}

.botonFle {
    display: flex;
    justify-content: center;

}

.sp {
    background: rgba(128, 128, 128, 0.63);
    border-radius: 7px;
    font-family: 'Roboto', sans-serif;
    padding: 3px 10px;

}

.el {
    margin: 3px;
}

.btt {
    border: none;
    background-color: rgba(128, 128, 128, 0.63);
    padding: 4px;
    border-radius: 7px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    z-index: 99;
}

.categoriasF {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.previewF {
    width: 150px;
    height: 150px;
}


.check {
    justify-content: center;
    background-color: rgba(125, 127, 125, 0.184);
    width: 300px;
    height: 250px;
    overflow: scroll;
    padding: 30px;
    gap: 2rem;
    top: 7rem;
    right: 5rem;
}

.check::-webkit-scrollbar {
    background: none;
}

.check::-webkit-scrollbar-corner {
    background: none;
}

.pF {
    font-size: 14px;
    padding: 20px;
}

.subdi {
    margin: auto;
    /* position: absolute; */
    /* left: 3rem;    */
}

.error {
    color: rgba(255, 0, 0, 0.699);
    font-size: 12px;
    text-align: center;
}

.centro {
    justify-content: center;
}
