.image {
    position: fixed;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: 100%;
    align-content: center;
    }

.title {
    margin-top: 50px;
    margin-left: 45%;
    color: rgb(245, 245, 245);
    font-size: 100px;
    text-shadow: #070606 5px 5px 5px;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.formGral {
    margin-top: 50px;
    margin-left: 40%;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: fit-content;
    margin-top: 20px;
    border-radius: 15px;
    padding: 5px;
 }
.btn{
    border: none;
    padding: 4px 14px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;

}
.eye{
    /* display: block; */
    position: absolute;
    border: none;
    bottom: 590px;
    right:740px;
    font-size: 18px;
    background-color: transparent;
    color:white;
    cursor: pointer;
}
.label {
    font-size: medium;
    font-weight: bold;
    justify-content: center;
    margin-left: 70px;
    color: aliceblue;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.input {
    margin-left: 30px;
    padding: 5px 70px;
    border-radius: 15px;
    font-size: medium;
    font-weight: bold;
}
.inputt {
    margin-left: 30px;
    padding: 5px 70px;
    border-radius: 15px;
    font-size: medium;
    font-weight: bold;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
}

.link {
    padding: 20px;
    margin-left: 42%;
    color: aliceblue;
    font-size: 30px;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: rgb(21, 21, 21) 3px 3px 3px;
}

.toHome{
    margin: 15px;
    margin-top: 30px;
    
}

.login {
    margin-left: 155px;
align-self: center;
   text-transform: uppercase;
font-size: 20px;
  letter-spacing: 1.5px;
  font-weight: 500;
  width: fit-content;
  height: fit-content;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}


.login:hover {
    background-color: #f9f9f9;
    box-shadow: 0px 15px 20px rgba(238, 248, 244, 0.4);
    color: rgb(0, 0, 0);
    transform: translateY(-7px);
  }
  
  .login:active {
    transform: translateY(-1px);
  }

@media (max-width: 500px) {
    .formGral{
        width: 100%;
        margin-left: 0;
    }
}

@media only screen and (min-width:501) and (max-width: 850px) {}