.image {
    position: fixed;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.title {
    color: #f1e6c2a8;
    text-shadow: #070606 10px 7px 7px;
    font-family: 'Roboto', sans-serif;
    padding-top: 15%;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: fit-content;
    font-size: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;

}


.btn {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: rgba(27, 27, 27, 0.8);
    padding: 10px 30px;
    border: 3px solid;
    border-radius: 100px;
    display: inline-block;
    transition: all .2s;
    position: relative;
    font-size: 25px;
    margin-left: 47%;
    background-color: rgba(245, 245, 220, 0.684);
    font-weight: bold;
}

.btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

.btn:active {
    transform: translateY(-3px);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    transition: all .3s;
}

.btn:hover::after {
    background-color: rgb(255, 255, 255);
    transform: scaleX(1.4) scaleY(1.5);
    opacity: 0;
}

@media (max-width: 500px) {
    .btn {
        padding: 10px;
    }
    
}

@media only screen and (min-width:501) and (max-width: 850px) {}