.imageR {
  width: 400px;
  height: 400px;
}

.contenedorGral {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contenedorBooks {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  align-items: center;
  /* max-width: 120rem; */
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: row;
}