.im {
  margin-top: 7%;
  width: 100px;
  height: 100px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 260px;
}

.cardbody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 250px;
}

.nombre {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  color: rgb(205, 203, 203);
  margin-bottom: 4%;
  text-align: center;
  font-size: 17px;
  text-decoration: underline;
}

.texto {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  color: gray;
  margin: auto;
  font-size: 13px;
  text-align: center;
}