.bookItem {
    border-radius: 10px;
    transition: all .3s;
    margin: 15px;
    box-shadow: 2px 3px 8px rgba(23, 23, 23, 0.582);
    padding: 20px;
    margin: 0 auto;
}

.bookItem:hover {
    transform: scale(1.10);
    box-shadow: rgba(148, 210, 223, 0.05) 25px 25px;
    border-radius:rgba(85, 134, 141, 0.05) 25px 25px;
    border: black; 
}
.book{
    height: 300px;
    width: 250px;
   
    justify-content: center;
    display: flex;
    align-items: center;
}
.nombre {
    color: black;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight:bold;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Roboto', sans-serif
}