.´todo{
  height: 100%;
}
.container {
    text-align: center;
  }

  .titulo {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: #e8ddbd;
    width: 250px;
    height: 50px;
    padding-top: 7px;
    margin-top: 20px;
    background-color: #9d1d36;
    margin: 0px auto;
  }


  .contenedorGral {
    padding-top: 5%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contenedorBooks {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .buttonPerfil {
    margin-top: 10px;
    margin-left: 7px;
    padding: 4px;
    border-radius: 10px;
    background: white;
    font-size: 17px;
    border-color: white;
  }

  .buttonPerfil:hover {
    text-decoration: underline;
    background-color: rgb(181, 181, 181);
    border-color: rgb(181, 181, 181);
  }

  .btnBook {
    background-color: #9d1d36;
    color: #e8ddbd;
    margin: 20px 2.5px 0px 0px;
    padding: 7px 15px;
    margin-bottom: 2%;
    margin-left: 1%;
  }

  .vendido {
    color: red;
  }