@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: Raleway, sans-serif;
  }
  
  
  .container-login {
    background: #212529;
  
  }
  
  
  .screen {   
    background: linear-gradient(90deg, #220901, #220901);   
    position: relative; 
    height: 600px;
    width: 360px; 
    box-shadow: 0px 0px 24px #632c16;
    background-image: url(../../images/login.jpg);
    background-repeat: no-repeat;
  }
  
  .screen__content {
    z-index: 1;
    position: relative; 
    height: 100%;
  }
  
  .screen__background {   
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);  
  }
  
  .screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
  }
  
  .screen__background__shape1 {
    height: 520px;
    width: 520px;
    background: #FFF; 
    top: -50px;
    right: 120px; 
    border-radius: 0 72px 0 0;
  }
  
  .screen__background__shape2 {
    height: 220px;
    width: 220px;
    background: #52190683;  
    top: -172px;
    right: 0; 
    border-radius: 32px;
  }
  
  .screen__background__shape3 {
    height: 540px;
    width: 190px;
    background: linear-gradient(270deg, #52190683, #3b1f1554);
    top: -24px;
    right: 0; 
    border-radius: 32px;
  }
  
  .screen__background__shape4 {
    height: 400px;
    width: 200px;
    background: #22090183;  
    top: 420px;
    right: 50px;  
    border-radius: 60px;
  }
  
  .login {
    width: 320px;
    padding: 30px;
    padding-top: 156px;
  }
  
  .login__field {
    padding: 13px 0px;  
    position: relative; 
    top:144px;
    left: 1rem;
    
  }
  
  .input-login{
      outline: none;
      border-radius: 10px;
      padding: 10px;
  }
  
  .login__icon {
    position: absolute;
    top: 30px;
    color: #7875B5;
  }
  
  .login__input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
  }
  
  .login__input:active,
  .login__input:focus,
  .login__input:hover {
    outline: none;
    border-bottom-color: #6A679E;
  }
  
  .login__submit {
    background: #fff;
    font-size: 14px;
    margin-top: 189px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    color: #4C489D;
    box-shadow: 0px 2px 2px #030303;
    cursor: pointer;
    transition: .2s;
  }
  
  .login__submit:active,
  .login__submit:focus,
  .login__submit:hover {
    border-color: #6A679E;
    outline: none;
  }
  
  .button__icon {
    font-size: 24px;
    margin-left: auto;
    color: #7875B5;
  }
  
  .social-login { 
    position: absolute;
    height: 140px;
    width: 160px;
    text-align: center;
    bottom: 0px;
    right: 0px;
    color: #fff;
  }
  
  .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .forgett{
      position: absolute;
      top: -7rem;
      left:-13rem;
      color: #444141;
  }
  .eye{
      position: absolute;
      top: -22.4rem;
      left:-1rem;
      border: none;
      font-size: 20px;
      cursor: pointer;
  }
  .logg{
      position:absolute;
      left: -5rem;
  }